<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Index</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<style>
	.divider {
		height: 1px; /* 分隔線的高度 */
		background-color: gray; /* 分隔線的顏色 */
		margin: 10px auto; /* 垂直間距和居中對齊 */
		border-radius: 5px; /* 圓角效果 */
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 陰影效果 */
	}
</style>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
<!--// css -->
<!-- font -->
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

</head>
<body> 
<!-- Header -->
	<div class="header">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a  href="index.html"><h1>Games <img src="{% static 'images/c1.png' %}" alt=" " /> Zone</h1></a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hover-effect"><a href="{% url 'gameApp:game_list' %}">Home</a></li>
						<li class="hover-effect"><a href="{% url 'gameApp:games' %}">Games</a></li>
						<li class="hover-effect"><a href="{% url 'gameApp:commentarea' %}">Comment Area</a></li>
						<li class="hover-effect active"><a href="{% url 'gameApp:contact' %}">ContactUs</a></li>
						{% comment %} <li class="hover-effect"><a href="{% url 'gameApp:contact' %}">Contact</a></li> {% endcomment %}
						{% if check %}
						<li class="hover-effect"><a href="{% url 'gameApp:signin' %}">Sign Out</a></li>
						<li class="hover-effect"><a href="{% url 'gameApp:user' %}">{{user.0}}，你好</li>
						{% else %}
						<li class="hover-effect"><a href="{% url 'gameApp:signin' %}">Sign In</a></li>
						{% endif %}
					</ul>
				</div>

			</div>
		</nav>
		<!-- //Navbar -->

		<!-- Slider -->
		<div class="slider">
			<ul class="rslides" id="slider">
				<li>
					<img src="{% static 'images/banner3.jpg' %}" alt="" />
				</li>
				<li>
					<img src="{% static 'images/banner2.jpg' %}" alt="" />
				</li>
				<li>
					<img src="{% static 'images/banner1.jpg' %}" alt="" />
				</li>
			</ul>
		</div>
		<!-- //Slider -->
	</div>
	<!-- Banner-Slider-JavaScript -->
	<script src="{% static 'js/responsiveslides.min.js' %}"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 800,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<!-- //Banner-Slider-JavaScript -->
	<!-- //Header -->

<!-- trend -->
<div class="trend-w3layouts">
	<div class="container">
		<h2>Recommend For You</h2>
		<ul id="flexiselDemo1">			
				<li>
					<div class="trend-grid">
						<a href="{% url 'gameApp:game_detail' Gid.0 %}">
							<img src= {{Gimg.0}} alt=" "  class="img-responsive" />
							<div style="margin:10px;" ><h4>{{Gname.0}}</h4></div>
						</a>
					</div>
				</li>
				<li>
					<div class="trend-grid">
						<a href="{% url 'gameApp:game_detail' Gid.1 %}">
							<img src= {{Gimg.1}} alt=" " class="img-responsive" />
							<div style="margin:10px;"><h4>{{Gname.1}}</h4></div>
						</a>
					</div>
				</li>
				<li>
					<div class="trend-grid">
						<a href="{% url 'gameApp:game_detail' Gid.2 %}">
							<img src= {{Gimg.2}} alt=" " class="img-responsive" />
							<div style="margin:10px;"><h4>{{Gname.2}}</h4></div>
						</a>
					</div>
				</li>
				<li>
					<div class="trend-grid">
						<a href="{% url 'gameApp:game_detail' Gid.3 %}">
							<img src= {{Gimg.3}} alt=" " class="img-responsive" />
							<div style="margin:10px;"><h4>{{Gname.3}}</h4></div>
						</a>
					</div>
				</li>
				<li>
					<div class="trend-grid">
						<a href="{% url 'gameApp:game_detail' Gid.4 %}">
							<img src= {{Gimg.4}} alt=" " class="img-responsive" />
							<div style="margin:10px;"><h4>{{Gname.4}}</h4></div>
						</a>
					</div>
				</li>
				<li>
					<div class="trend-grid">
						<a href="{% url 'gameApp:game_detail' Gid.5 %}">
						<img src= {{Gimg.5}} alt=" " class="img-responsive" />
						<div style="margin:10px;"><h4>{{Gname.5}}</h4></div>
						</a>
					</div>
				</li>	
		</ul>
			<script type="text/javascript">
				$(window).load(function() {
					$("#flexiselDemo1").flexisel({
						visibleItems: 4,
						animationSpeed: 1000,
						autoPlay: true,
						autoPlaySpeed: 2000,    		
						pauseOnHover: true,
						enableResponsiveBreakpoints: true,
						responsiveBreakpoints: { 
							portrait: { 
								changePoint:480,
								visibleItems: 2
							}, 
							landscape: { 
								changePoint:640,
								visibleItems:3
							},
							tablet: { 
								changePoint:768,
								visibleItems: 4
							}
						}
					});
					
				});
			</script>
			<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
	</div>
</div>
<!-- //trend -->

<div class="services-bottom-w3-agileits">
	<div class="container">
		<div class="wthree_info">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="wthree_info_grid">
								<h3>Steam</h3>
								<img src="{% static 'images/Steam.png' %}" style="width: 150px; height: 150px; display: block; margin: auto;">
								<p style="margin:5px">Steam 是一個由 Valve Corporation 開發的數位遊戲分發平台，提供遊戲購買、下載、更新和社群互動功能。</p>
								<a href="https://store.steampowered.com/" class="learn">Official website</a>
							</div>
						</li>
						<li>
							<div class="wthree_info_grid">
								<h3>Epic Games</h3>
								<img src="{% static 'images/Epic.png' %}" style="width: 250px; height: 150px; display: block; margin: auto;">
								<p>Epic Games 是一家知名的遊戲開發和發行公司，著名作品包括《堡壘之夜》和 Unreal 引擎，同時也運營一個數位遊戲分發平台。</p>
								<a href="https://store.epicgames.com/" class="learn">Official website</a>
							</div>
						</li>
						<li>
							<div class="wthree_info_grid">
								<h3>Battle.net</h3>
								<img src="{% static 'images/Battle.png' %}" style="width: 300px; height: 150px; display: block; margin: auto;">
								<p>Battle.net 是由暴雪娛樂運營的在線遊戲平台，提供其所有遊戲的下載、更新、社群互動和跨遊戲通信功能。</p>
								<a href="https://tw.shop.battle.net/" class="learn">Official website</a>
							</div>
						</li>
						<li>
							<div class="wthree_info_grid">
								<h3>Mega Games</h3>
								<img src="{% static 'images/Mega.png' %}" style="width: 150px; height: 150px; display: block; margin: auto;">
								<p>MegaGames 是一個提供遊戲新聞、遊戲修改檔、遊戲攻略以及遊戲社群互動的綜合性遊戲網站。</p>
								<a href="https://megagames.com/games" class="learn">Official website</a>
							</div>
						</li>
						<li>
							<div class="wthree_info_grid">
								<h3>Ocean of Games</h3>
								<img src="{% static 'images/Ocean.png' %}" style="width: 150px; height: 150px; display: block; margin: auto;">
								<p>Ocean of Games 是一個提供各種PC遊戲免費下載的網站，涵蓋多種類型和風格的遊戲。</p>
								<a href="https://oceanofgames.com/" class="learn">Official website</a>
							</div>
						</li>
					</ul>
				</div>
			</section>
					<!-- flexSlider -->
						
						<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
						<script type="text/javascript">
						$(window).load(function(){
						  $('.flexslider').flexslider({
							animation: "slide",
							start: function(slider){
							  $('body').removeClass('loading');
							}
						  });
						});
					  </script>
					<!-- //flexSlider -->
		</div>
	</div>
</div>


<!-- new games -->
<div class="new-w3-agile">
	<div class="container">
		<h3>GENRES</h3>
		{% for game_type in game_types %}
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src="{% static 'images/' %}ng{{ forloop.counter }}.jpg" alt=" " />
			<div class="mask">
				<a href="{% url 'gameApp:trendsgame' %}?name={{ game_type.typename|urlencode }}"><h4>{{game_type.typename}}</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		{% empty %}   
		<li>Sorry, no GENRES</li> 
		{% endfor %}
		{% comment %} <div class="col-md-3 new-grid-w3l view view-eighth">
			<img src="{% static 'images/ng1.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>射擊</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src="{% static 'images/ng2.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>益智</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src="{% static 'images/ng3.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>RPG</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src="{% static 'images/ng4.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>動作</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng5.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>模擬</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng6.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>戰略</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng7.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>冒險</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng8.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>平台</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng8.jpg' %}" alt=" " />
			<div class="mask">
				<a href="{% url 'gameApp:trendsgame' %}"><h4>獨立</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng8.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>競技</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng8.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>恐怖</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng8.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>體育</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng8.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>大型電玩</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng8.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>駕駛</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng8.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>格鬥</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src="{% static 'images/ng8.jpg' %}" alt=" " />
			<div class="mask">
				<a href="single.html"><h4>免費</h4></a>
				<p>To learn more about this</p>
			</div>
		</div> {% endcomment %}
		<div class="clearfix"></div>
	</div>
</div>
<!-- //new games-->

<div class="services-agileits-w3layouts">
	<div class="container">
		<h3>Services</h3>
		<div class="col-md-3 service-grid-agileits service-grid-agileits-top">
			<span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
			<h4>Quis tortor</h4>
			<p>Curabitur suscipit porttitor aliquam. Etiam id placerat purus. Integer sodales elit eget arcu placerat.</p>
			<a href="">Read More</a>
		</div>
		<div class="col-md-3 service-grid-agileits">
			<span class="glyphicon glyphicon-random" aria-hidden="true"></span>
			<h4>Eget arcu</h4>
			<p>Curabitur suscipit porttitor aliquam. Etiam id placerat purus. Integer sodales elit eget arcu placerat.</p>
			<a href="">Read More</a>
		</div>
		<div class="col-md-3 service-grid-agileits service-grid-agileits-bottom">
			<span class="glyphicon glyphicon-yen" aria-hidden="true"></span>
			<h4>Risus porta</h4>
			<p>Curabitur suscipit porttitor aliquam. Etiam id placerat purus. Integer sodales elit eget arcu placerat.</p>
			<a href="">Read More</a>
		</div>
		<div class="col-md-3 service-grid-agileits service-grid-agileits-bottom">
			<span class="glyphicon glyphicon-object-align-right" aria-hidden="true"></span>
			<h4>Proin sapien</h4>
			<p>Curabitur suscipit porttitor aliquam. Etiam id placerat purus. Integer sodales elit eget arcu placerat.</p>
			<a href="">Read More</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-left-w3">
			<h4>Contact</h4>
			<ul>
				<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></li>
				<li><a href="mailto:example@mail.com"><h6>ex@mail.com</h6></a></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
				<li><h6>+18045678834</h6></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
				<li><h6>4th Avenue,London</h6></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></li>
				<li><h6>(0033)6544 5453 644</h6></li>
			</ul>
		</div>
		<div class="col-md-5 footer-middle-w3">
			<h4>Latest Games</h4>
			{% for latest_game in latest_games %}
			<div class="col-md-3 img-w3-agile">
				<a href="{% url 'gameApp:game_detail' latest_game.pk %}"><img src={{latest_game.picture_game}} alt=" " /></a>
			</div>
			{% empty %}   
			<li>Sorry, no latest_games</li> 
			{% endfor %}
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 footer-right-w3">
			<a href="index.html"><h4>Games <img src="{% static 'images/f1.png' %}" alt=" " /> Zone</h4></a>
			<p>我們的網頁整合了五大熱門遊戲平台，為您提供一站式的遊戲體驗。通過我們的網站，您可以輕鬆訪問和瀏覽Steam、Megagames、Ocean of games、Battlenet和Epic Games的最新遊戲資訊和優惠。</p>
			<p class="agileinfo">我們致力於提供便捷的界面和即時更新，讓您快速找到心儀的遊戲和活動。無論您是PC玩家還是主機玩家，這裡都能滿足您的需求。立即加入我們的網頁，探索多元化的遊戲世界！</p>
		</div>
		<div class="clearfix"></div>
		<div class="copyright">
			<p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
		</div>
	</div>
</div>

<!-- //footer -->
</body>
</html>